repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-generate
  - id: go-unit-tests
- repo: https://github.com/golangci/golangci-lint
  rev: v1.59.0
  hooks:
  - id: golangci-lint
  - id: golangci-lint-config-verify
